//color var
$grey: #898b8c;
$light-grey: #eae9d6;
$black: #252626;
$white: #ffffff;
$accent-color: #3e99ed;
$dirty-yellow: #ccc8a2;

//fonts var
$font: "Source Sans Pro", "Arial", sans-serif;
$font-normal: 400;
$font-bold: 600;


//media var
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1150;
