//color var
$grey: #898b8c;

//fonts var
$font: "Source Sans Pro", "Arial", sans-serif;
$font-normal: 400;
$font-bold: 600;


//media var
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150;
