.news-card {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__autor-img {
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 50%;
    border: 1px solid $grey;
  }

  &__autor-name {
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    @include set-font (14px, $font-bold, $black);
    line-height: 16px;
  }

  &__special-news-bage {
    margin-right: 11px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
    height: 18px;
    @include set-font (10px, $font-bold, $white);
    line-height: 18px;
    letter-spacing: 2%;
    text-transform: uppercase;
    text-align: center;
    background-color: $accent-color;
    border-radius: 4px 4px 0px 4px;
  }

  &__picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 184px;
    overflow: hidden;

    background-color: $light-grey;
    border-radius: 12px 0px 12px 12px;

    &--w-out-img {
      display: block;
      box-sizing: border-box;
      background-color: $dirty-yellow;
      padding: 14px 80px 14px 16px;
    }

    & > .news-card__title--img-fallback {
      margin: 0;
      @include set-font (26px, $font-bold, $white);
      line-height: 28px;
    } 
  }

  &__publish-date {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62px;
    height: 68px;
    background-color: rgba(#3E3F40, 0.7);
    border-radius: 8px 0px 8px 8px;

    color: $white;
    font-weight: 600;
    text-align: center;

    & > span:first-child {
      font-size: 26px;
      line-height: 20px;
    }

    & > span:not(:first-child) {
      font-size: 12px;
      line-height: 12px;
    }

    & > * + * {
      margin-top: 5px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6px;
    padding: 0 8px;
  }

  &__city {
    margin: 0;
    padding-right: 8px;
    @include set-font (14px, $font-bold, $accent-color);
    line-height: 16px;
  }

  &__subject {
    margin: 0;
    padding-left: 8px;
    @include set-font (14px, $font-normal, $grey);
    line-height: 16px;
  }

  &__title {
    flex-grow: 1;
    width: 100%;
    margin: 4px 0 0 0;
    @include set-font (18px, $font-bold, $black);
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {

    &__special-news-bage {
      width: 122px;
      font-size: 12px;
    }

    &__publish-date {
      top: 16px;
      right: 16px;
      width: 73px;
      height: 80px;

      & > span:first-child {
        font-size: 32px;
      }

      & > span:not(:first-child) {
        font-size: 14px;
      }
  
      & > * + * {
        margin-top: 5px;
      }
    }

    &__picture {
      height: 224px;
    }

    &__img {
      max-width: 358px;
      height: auto;
    }

    &--special .news-card__picture,
    &--special img.news-card__img {
      height: 600px;
    }

    &__info {
      margin-top: 10px;
    }

    &__title {
      margin-top: 7px;
      font-size: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &__img {
      max-width: 364px;
      width: 364px;
    }
  }
}